<%-  layout("/layouts/boilerplates") %>
<h1 class = "nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">See the the projects in Detail</h1>
<div class="card col custome-inner-style " style="width: 18rem;">
  <img class="card-img-top" src="<%= project.image%>" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%=project.name%></h5>
    <p class="card-text"><%=project.PInfo%></p>

  </div>
</div>
<h1 class = "nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">Some Reviews</h1>
  <% for(let review of project.reviews){%>
    <h5 class="card-title"><%=review.name%></h5>
    <p class="card-text"><%=review.comments%></p>
    <p class="card-text"><%=review.rating%></p>
    <%}%>
  </div>
</div>

<form method="post" action="/review/<%= project._id %>">
    <div class="form-group">
        <label for="exampleFormControlInput1">Enter Your  name</label>
        <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Enter the name" name="review[name]">
      </div>
      <!-- <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div> -->
      <!-- <div class="form-group"> -->
        <!-- <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div> -->
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Enter the Your review</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="review[comments]"></textarea>
      </div>
      <fieldset class="starability-checkmark">
        <legend>Rating</legend>
        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
      <button>Submit</button>
</form>